NEXT_PUBLIC_SUPABASE_URL=""
SUPABASE_SERVICE_ROLE_KEY=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""
NEXT_PUBLIC_APP_URL="https://joyful.pixtool.in"

# OpenAI
OPENAI_API_KEY=""

# E2B
E2B_API_KEY=""
NEXT_PUBLIC_E2B_TEMPLATE_ID=""

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/sign-in"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL="/"
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL="/"

# Inngest
INNGEST_EVENT_KEY=""
INNGEST_SIGNING_KEY=""